<h2>New user</h2>

<!-- FORMA NORMAL, USANDO HTML Y EL INPUT DE AUTHENTICTY TOKEN DE RAILS
<form action="/users" method="post" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="user[email]">
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="user[password]">
    <br>
    <input type="submit" value="Send">
</form> 
-->

<!-- FORMA CON form_tag DEPRECADO POR RAILS
    <%= label_tag(:q, "username:") %>
    <%= label_tag(:q, "email:") %>
    <%= label_tag(:q, "password:") %>
    <%= submit_tag("Send") %>
-->

<%= render "form", user: @user %>

